PrivateCapabilities {
    msl_version: MTLLanguageVersion(
        196609,
    ),
    fragment_rw_storage: true,
    read_write_texture_tier: MTLReadWriteTextureTier(
        2,
    ),
    msaa_desktop: true,
    msaa_apple3: true,
    msaa_apple7: true,
    resource_heaps: true,
    argument_buffers: Some(
        MTLArgumentBuffersTier(
            1,
        ),
    ),
    mutable_comparison_samplers: true,
    sampler_clamp_to_border: true,
    indirect_draw_dispatch: true,
    base_vertex_first_instance_drawing: true,
    dual_source_blending: true,
    low_power: false,
    headless: false,
    layered_rendering: true,
    function_specialization: true,
    depth_clip_mode: true,
    texture_cube_array: true,
    supports_float_filtering: true,
    format_depth24_stencil8: false,
    format_depth32_stencil8_filter: true,
    format_depth32_stencil8_none: false,
    format_min_srgb_channels: 4,
    format_b5: false,
    format_bc: true,
    format_eac_etc: true,
    format_astc: true,
    format_astc_hdr: true,
    format_astc_3d: true,
    format_any8_unorm_srgb_all: true,
    format_any8_unorm_srgb_no_write: false,
    format_any8_snorm_all: true,
    format_r16_norm_all: true,
    format_r32_all: false,
    format_r32_no_write: false,
    format_r32float_no_write_no_filter: false,
    format_r32float_no_filter: false,
    format_r32float_all: true,
    format_rgba8_srgb_all: true,
    format_rgba8_srgb_no_write: false,
    format_rgb10a2_unorm_all: true,
    format_rgb10a2_unorm_no_write: false,
    format_rgb10a2_uint_write: true,
    format_rg11b10_all: true,
    format_rg11b10_no_write: false,
    format_rgb9e5_all: true,
    format_rgb9e5_no_write: false,
    format_rgb9e5_filter_only: true,
    format_rg32_color: true,
    format_rg32_color_write: true,
    format_rg32float_all: true,
    format_rg32float_color_blend: true,
    format_rg32float_no_filter: false,
    format_rgba32int_color: true,
    format_rgba32int_color_write: true,
    format_rgba32float_color: true,
    format_rgba32float_color_write: true,
    format_rgba32float_all: true,
    format_depth16unorm: true,
    format_depth16unorm_filter: true,
    format_depth32float_filter: true,
    format_depth32float_none: false,
    format_bgr10a2_all: true,
    format_bgr10a2_no_write: false,
    max_buffers_per_stage: 31,
    max_vertex_buffers: 16,
    max_textures_per_stage: 128,
    max_samplers_per_stage: 16,
    max_binding_array_elements: 1000000,
    max_sampler_binding_array_elements: 1024,
    buffer_alignment: 256,
    max_buffer_size: 17179869184,
    max_texture_size: 16384,
    max_texture_3d_size: 2048,
    max_texture_layers: 2048,
    max_fragment_input_components: 124,
    max_color_render_targets: 8,
    max_color_attachment_bytes_per_sample: 128,
    max_varying_components: 124,
    max_threads_per_group: 1024,
    max_total_threadgroup_memory: 32768,
    sample_count_mask: TextureFormatCapabilities(
        MULTISAMPLE_X2 | MULTISAMPLE_X4,
    ),
    supports_debug_markers: true,
    supports_binary_archives: true,
    supports_capture_manager: true,
    can_set_maximum_drawables_count: true,
    can_set_display_sync: true,
    can_set_next_drawable_timeout: true,
    supports_arrays_of_textures: true,
    supports_arrays_of_textures_write: true,
    supports_mutability: true,
    supports_depth_clip_control: true,
    supports_preserve_invariance: true,
    supports_shader_primitive_index: true,
    has_unified_memory: Some(
        true,
    ),
    timestamp_query_support: TimestampQuerySupport(
        STAGE_BOUNDARIES,
    ),
    supports_simd_scoped_operations: true,
    supports_cooperative_matrix: true,
    int64: true,
    int64_atomics_min_max: true,
    int64_atomics: false,
    float_atomics: true,
    supports_shared_event: true,
    mesh_shaders: true,
    max_mesh_task_workgroup_count: 1024,
    max_task_payload_size: 16352,
    supported_vertex_amplification_factor: 8,
    shader_barycentrics: true,
    supports_memoryless_storage: true,
}
