PrivateCapabilities {
    msl_version: MTLLanguageVersion(
        196609,
    ),
    fragment_rw_storage: true,
    read_write_texture_tier: MTLReadWriteTextureTier(
        0,
    ),
    msaa_desktop: false,
    msaa_apple3: false,
    msaa_apple7: false,
    resource_heaps: true,
    argument_buffers: Some(
        MTLArgumentBuffersTier(
            0,
        ),
    ),
    mutable_comparison_samplers: false,
    sampler_clamp_to_border: false,
    indirect_draw_dispatch: false,
    base_vertex_first_instance_drawing: false,
    dual_source_blending: true,
    low_power: true,
    headless: false,
    layered_rendering: false,
    function_specialization: true,
    depth_clip_mode: false,
    texture_cube_array: false,
    supports_float_filtering: false,
    format_depth24_stencil8: false,
    format_depth32_stencil8_filter: false,
    format_depth32_stencil8_none: true,
    format_min_srgb_channels: 1,
    format_b5: true,
    format_bc: false,
    format_eac_etc: true,
    format_astc: true,
    format_astc_hdr: false,
    format_astc_3d: false,
    format_any8_unorm_srgb_all: true,
    format_any8_unorm_srgb_no_write: false,
    format_any8_snorm_all: true,
    format_r16_norm_all: false,
    format_r32_all: false,
    format_r32_no_write: false,
    format_r32float_no_write_no_filter: false,
    format_r32float_no_filter: true,
    format_r32float_all: false,
    format_rgba8_srgb_all: true,
    format_rgba8_srgb_no_write: false,
    format_rgb10a2_unorm_all: false,
    format_rgb10a2_unorm_no_write: true,
    format_rgb10a2_uint_write: false,
    format_rg11b10_all: false,
    format_rg11b10_no_write: true,
    format_rgb9e5_all: false,
    format_rgb9e5_no_write: true,
    format_rgb9e5_filter_only: false,
    format_rg32_color: true,
    format_rg32_color_write: true,
    format_rg32float_all: false,
    format_rg32float_color_blend: true,
    format_rg32float_no_filter: true,
    format_rgba32int_color: true,
    format_rgba32int_color_write: true,
    format_rgba32float_color: true,
    format_rgba32float_color_write: true,
    format_rgba32float_all: false,
    format_depth16unorm: true,
    format_depth16unorm_filter: false,
    format_depth32float_filter: false,
    format_depth32float_none: true,
    format_bgr10a2_all: true,
    format_bgr10a2_no_write: false,
    max_buffers_per_stage: 31,
    max_vertex_buffers: 16,
    max_textures_per_stage: 31,
    max_samplers_per_stage: 16,
    max_binding_array_elements: 31,
    max_sampler_binding_array_elements: 16,
    buffer_alignment: 64,
    max_buffer_size: 268435456,
    max_texture_size: 8192,
    max_texture_3d_size: 2048,
    max_texture_layers: 2048,
    max_fragment_input_components: 60,
    max_color_render_targets: 8,
    max_color_attachment_bytes_per_sample: 32,
    max_varying_components: 60,
    max_threads_per_group: 512,
    max_total_threadgroup_memory: 16384,
    sample_count_mask: TextureFormatCapabilities(
        MULTISAMPLE_X4,
    ),
    supports_debug_markers: true,
    supports_binary_archives: false,
    supports_capture_manager: true,
    can_set_maximum_drawables_count: true,
    can_set_display_sync: false,
    can_set_next_drawable_timeout: true,
    supports_arrays_of_textures: false,
    supports_arrays_of_textures_write: false,
    supports_mutability: true,
    supports_depth_clip_control: false,
    supports_preserve_invariance: true,
    supports_shader_primitive_index: false,
    has_unified_memory: Some(
        false,
    ),
    timestamp_query_support: TimestampQuerySupport(
        0x0,
    ),
    supports_simd_scoped_operations: false,
    supports_cooperative_matrix: false,
    int64: false,
    int64_atomics_min_max: false,
    int64_atomics: false,
    float_atomics: false,
    supports_shared_event: true,
    mesh_shaders: false,
    max_mesh_task_workgroup_count: 0,
    max_task_payload_size: 0,
    supported_vertex_amplification_factor: 1,
    shader_barycentrics: false,
    supports_memoryless_storage: true,
}
